/* Google font inter is imported */
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800&display=swap");

/* Common or universal CSS */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* font-family: "Merriweather", serif;
  font-family: "Inter", sans-serif; */
  text-decoration: none;
}
/* Banner part style */
#banner-head {
  max-width: 1600px;
  margin: 0 auto;
}
#banner {
  margin: 20px 140px 120px 140px;
}
.container {
  width: 82%;
  max-width: 1320px;
  padding: 170px 150px;
  background: url("../resources/Banner\ Image.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 16px;
  overflow: hidden;
  width: 100%;
  height: 100%;
  position: relative;
  z-index: 1;
}
.banner-image-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  /* overflow: hidden; */
  background: linear-gradient(180deg, #070211 0%, rgba(7, 2, 17, 0) 100%);
  z-index: -1;
}
/* .banner-text{
    z-index: 9;
} */
.banner-text h2 {
  color: #fff;
  text-align: center;
  font-size: 32px;
  font-weight: 400;
  font-family: "Merriweather", serif;
}
.banner-text h1 {
  font-family: "Merriweather", serif;
  color: #fff;
  text-align: center;
  font-size: 72px;
  font-weight: 900;
  line-height: 95px; /* 131.944% */
}
/* All categories style */
#all-cate {
  margin: 0 auto;
}

.all-offer h3 {
  color: #f00;
  text-align: center;
  font-family: "Inter", sans-serif;
  font-size: 88px;
  font-weight: 700;
}
.all-offer p {
  margin-top: 48px;
  color: #f00;
  text-align: center;
  font-family: "Inter", sans-serif;
  font-size: 24px;
  font-weight: 500;
}
.all-offer h4 {
  margin-top: 26px;
  color: #070211;
  text-align: center;
  font-size: 48px;
  font-weight: 700;
  font-family: "Inter", sans-serif;
}
#all-cate .image {
  text-align: center;
  margin-top: 48px;
  /* width: 100%; */
}
#all-cate .image img {
  width: 100%;
  max-width: 800px;
}
#Welcome {
  margin: 0 auto;
  display: flex;
  justify-content: center;
  margin-bottom: 120px;
}
#Welcome .container {
  margin-top: 128px;
  padding: 128px 126px;
  text-align: center;
  background: url("../resources/Vectorrr.png");
  width: 82%;
  border-radius: 16px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  z-index: 1;
}

.welcome-display {
  display: flex;
}
.welcome-img img {
  width: 100%;
  max-width: 320px;
  justify-content: end;
  align-items: end;
  background-position: right;
  background-size: cover;
  background-repeat: no-repeat;
  z-index: 1;
}
.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background: linear-gradient(180deg, #070211 0%, rgba(7, 2, 17, 0) 100%);
  z-index: -1;
}
.welcome-text h3 {
  text-align: start;
  color: #fff;
  font-size: 64px;
  font-weight: 900;
  font-family: "Merriweather", serif;
  line-height: 88px; /* 137.5% */
  /* letter-spacing: 7.04px; */
  max-width: 642px;
}
.welcome-text p {
  color: rgba(255, 255, 255, 0.8);
  font-family: "Inter", sans-serif;
  font-size: 18px;
  max-width: 692px;
  font-weight: 400;
  line-height: 30px; /* 166.667% */
  text-align: start;
  margin-top: 24px;
}
.welcome-text .btn {
  text-align: start;
  margin: 49px;
}
.welcome-text .btn a {
  padding: 12px 26px;
  border-radius: 10px;
  border: 1px solid #fff;
  color: #fff;
  text-decoration: none;
  font-family: "Inter", sans-serif;
  font-size: 20px;
  font-weight: 700;
  text-transform: uppercase;
  transition: 0.4s;
}
.welcome-text .btn a:hover {
  background: #fff;
  color: #f00;
  transform: scale(1.1);
}
/* Join or contact party style */
#join-party {
  display: flex;
  margin: 0 auto;
  justify-content: center;
}
#join-party > .container {
  background: linear-gradient(
    180deg,
    rgba(255, 0, 0, 0.1) 0%,
    rgba(255, 0, 0, 0) 100%
  );
  padding: 100px auto;
  width: 82%;
  max-width: 1320px;
  text-align: center;
}
.party-text p {
  color: #070211;
  font-family: "Inter";
  font-size: 32px;
  font-weight: 600;
  line-height: 56px;
  text-transform: capitalize;
}
.party-text span {
  color: #f00;
}

/* Comming soon part style */

#new-offer {
  display: flex;
  margin: 0 auto;
  justify-content: center;
  /* margin-top: 100px; */
}
#new-offer .container {
  max-width: 1320px;
  background: transparent;
}
#new-offer .comming-soon {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#new-offer .comming-soon .left {
  max-width: 440px;
  margin-top: 60px;
}
.comming-soon .left h3 {
  color: #f00;
  text-align: start;
  font-family: Inter;
  font-size: 24px;
  font-weight: 500;
}
.comming-soon .left h2 {
  color: #070211;
  font-family: Merriweather;
  font-size: 40px;
  font-weight: 900;
  text-transform: capitalize;
  margin: 22px 0;
  display: inline-block;
}
.comming-soon .left p {
  color: rgba(7, 2, 17, 0.6);
  font-family: Inter;
  font-size: 20px;
  font-weight: 400;
  line-height: 32px; /* 160% */
}
.comming-soon .middle {
  max-width: 440px;
}
.comming-soon .middle .image {
  border-radius: 463px;
  border: 15px solid #f00;
}
.comming-soon .middle .image img {
  width: 100%;
  min-width: 364px;
  border: 24px solid #fff;
  border-radius: 463px;
}
.comming-soon .right {
  max-width: 440px;
  padding-left: 40px;
  margin-top: 60px;
}
.comming-soon .right h3 {
  padding-top: 60px;
  color: #f00;
  font-family: Inter;
  font-size: 48px;
  font-weight: 700;
  margin-bottom: 10px;
}
.comming-soon .right p {
  color: rgba(7, 2, 17, 0.6);
  font-family: Inter;
  font-style: normal;
  font-weight: 400;
  line-height: 32px; /* 160% */
  width: 270px;
  margin-bottom: 43px;
}
/* Holidays styles */
#holiday {
  display: flex;
  margin: 0 auto;
}
.container-holiday {
  width: 82%;
  max-width: 1320px;
  margin: 0 auto;
}
.holiday-text {
  text-align: center;
  font-family: "Inter", sans-serif;
  margin-bottom: 200px;
  padding-bottom: 300px;
}
.holiday-text h4 {
  color: #070211;
  font-size: 24px;
  font-weight: 500;
  margin-bottom: 12px;
}
.holiday-text h2 {
  color: #f00;
  text-align: center;
  font-family: Merriweather;
  font-size: 72px;
  font-weight: 900;
  margin-bottom: 20px;
}
.holiday-text span {
  color: #070211;
}
.holiday-text p {
  font-family: "Inter", sans-serif;
  min-width: 60%;
  margin: 0 auto;
  color: rgba(7, 2, 17, 0.6);
  font-size: 20px;
  font-weight: 500;
  line-height: 32px; /* 160% */
}
.inner-holiday {
  display: flex;
  margin-top: 68px;
  position: relative;
}
.inner-holiday img {
  /* width: 100%; */
  max-width: 100%;
}
/* .inner-holiday .bottom-image img{
  max-width: 100%;
} */
#holiday .bottom-red-bg {
  max-width: 1320px;
  height: 152px;
  background: #f00;
  border-radius: 10px 0 10px 10px;
}
#holiday .holiday-left img {
  width: 560px;
  max-width: 580px;
}
#holiday .holiday-left {
  position: absolute;
  bottom: -100px;
  left: 3%;
}
#holiday .holiday-right {
  position: absolute;
  bottom: -5px;
  right: 0;
}
#holiday .holiday-right .off50 {
  position: absolute;
  right: 65%;
  top: 8%;
}
/* Portfolio styles */
#portfolio {
  margin: 120px 0;
}
.portfolio-container {
  width: 82%;
  max-width: 1320px;
  margin: 0 auto;
}
.portfolio-container h4 {
  color: #f00;
  font-family: Inter;
  font-size: 24px;
  font-weight: 500;
}
.portfolio-container h3 {
  color: #070211;
  font-family: Merriweather;
  font-size: 48px;
  font-weight: 900;
  text-transform: capitalize;
  margin-top: 16px;
}
.portfolio-container p {
  color: rgba(7, 2, 17, 0.6);
  font-family: Inter;
  font-size: 20px;
  font-weight: 400;
  line-height: 32px; /* 160% */
  max-width: 68%;
  margin: 22px 0;
}

.port-gallery {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 16px;
  max-width: 1320px;
  margin: 0 auto;
  padding: 20px 10px;
}
.port-gallery::after {
  content: "";
  width: 350px;
}
.port-gallery img {
  width: 100%;
  max-width: 350px;
  height: auto;
  object-fit: cover;
  border-radius: 10px;
}
/* Subscribe part style */
.sub-container {
  margin: 0 auto;
  width: 82%;
  max-width: 1320px;
  text-align: center;
  border-radius: 16px;
  background: rgba(255, 0, 0, 0.05);
  padding: 80px 0;
}
.subscribe h3 {
  color: #070211;
  text-align: center;
  font-family: Merriweather;
  font-size: 48px;
  font-weight: 900;
  text-transform: capitalize;
  margin-top: 20px;
}
.subscribe p {
  margin-top: 20px;
  color: rgba(7, 2, 17, 0.6);
  text-align: center;
  font-family: Inter;
  font-size: 18px;
  font-weight: 400;
  line-height: 32px; /* 160% */
  padding: 0 180px;
}
.sub-container form {
  padding: 50px;
  display: flex;
  margin: 0 auto;
}
.sub-container form input[type="text"] {
  border-radius: 50px;
  font-family: Inter;
  font-size: 20px;
  background: #fff;
  width: 628px;
  height: 72px;
  border: 0;
  padding: 30px;
  margin-left: 200px;
}
.sub-container form .button{
  border-radius: 0px 50px 50px 0px;
  overflow: hidden;
  font-family: Inter;
  font-size: 20px;
  background: #f00;
  color: #fff;
  width: 210px;
  height: 72px;
  border: 0;
  display: flex;
  text-align: center;
  justify-content: center;
  padding: 30px;  
  margin-right: 200px;
}
